<div id="<%= dom_id document_data_dictionary %>">
  <p>
    <strong>Friendlier:</strong>
    <%= document_data_dictionary.friendlier_id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= document_data_dictionary.label %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= document_data_dictionary.type %>
  </p>

  <p>
    <strong>Values:</strong>
    <%= document_data_dictionary.values %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= document_data_dictionary.definition %>
  </p>

  <p>
    <strong>Definition source:</strong>
    <%= document_data_dictionary.definition_source %>
  </p>

  <p>
    <strong>Parent friendlier:</strong>
    <%= document_data_dictionary.parent_friendlier_id %>
  </p>

</div>
