<div id="<%= dom_id document_data_dictionary %>">
  <p>
    <strong>Friendlier:</strong>
    <%= document_data_dictionary.friendlier_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= document_data_dictionary.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document_data_dictionary.description %>
  </p>

  <p>
    <strong>Staff Notes:</strong>
    <%= document_data_dictionary.staff_notes %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= document_data_dictionary.tags.join(', ') %>
  </p>
</div>
